[Unit]
Description=Syncphony kiosk session (cage + Chromium)
Conflicts=getty@tty1.service
After=systemd-user-sessions.service getty@tty1.service network-online.target syncphony-audio.service boxd.service
Wants=network-online.target syncphony-audio.service boxd.service

[Service]
User=kiosk
PAMName=login
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
UtmpIdentifier=tty1
StandardInput=tty
ExecStart=/usr/bin/cage -- /usr/lib/syncphony-box/kiosk
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
